a[data-v-99f4a381]{color:#42b983;text-decoration:none;font-weight:500}a[data-v-99f4a381]:hover{text-decoration:underline}a.router-link-active[data-v-99f4a381]{color:#35495e}h1[data-v-55d35cd4],h1[data-v-9a3792dd]{color:#42b983}
